[AUTOUPDATE]
# Diese Datei liegt im Wurzelverzeichnis des GitHub-Repositories und steuert
# das Auto-Update.
#
# ACHTUNG - bei JEDEM Release muessen DREI Stellen dieselbe Fassung nennen,
# sonst laedt LoxBerry das falsche Archiv:
#
#   1. plugin.cfg   -> [PLUGIN] VERSION
#   2. release.cfg  -> VERSION            (diese Datei)
#   3. release.cfg  -> ARCHIVEURL und INFOURL (Tag vX.Y.Z im Pfad)
#
# Dazu muss der Tag auf GitHub wirklich existieren. Zwei Adressen, zwei
# verschiedene Quellen: die plugin.cfg liest DIESE Datei aus dem ZWEIG master,
# das ARCHIVEURL unten zieht aber aus dem TAG. Wer hier etwas aendert, ohne den
# Tag mitzuziehen, liefert an neue Installationen weiter den alten Stand aus.
#
# Die prerelease.cfg fuehrt dieselbe Fassung und dieselben Adressen.
#
# ZUM TAG-NAMEN: Dieses Repository ist ein Fork und hat aus der Historie des
# Originals bereits Tags geerbt - darunter ein v1.0.0, das die Fassung 1.0.0
# des ALTEN Docker-Plugins bezeichnet. Ein zweites v1.0.0 mit anderer Bedeutung
# waere irrefuehrend, und fremde Tags zu ueberschreiben kommt nicht in Frage.
# Die Docker-NG-Reihe benutzt deshalb den Praefix ng-: ng-1.0.0, ng-1.2.0 ...

VERSION=1.2.2
ARCHIVEURL=https://github.com/timanders22/LoxBerry-Plugin-Docker-NG/archive/refs/tags/ng-1.2.2.zip
INFOURL=https://github.com/timanders22/LoxBerry-Plugin-Docker-NG/releases/tag/ng-1.2.2
